<mat-card>
  <mat-card-content>
    <br>
    <h1 [style.text-align]="'center'">
      {{task}}
    </h1>
    <mat-tab-group>
      <mat-tab label="Task Overview">
        <app-about [whatAbout]="task"></app-about>
      </mat-tab>
      <mat-tab label="Datasets">
        <app-datasets [datasets]="datasets"></app-datasets>
      </mat-tab>
      <mat-tab label="Task Leaderboards">
        <app-leaderboards
        [task]="task"
        [showTask]="false"
        >
        </app-leaderboards>
      </mat-tab>
      <mat-tab label="Task Submissions">
        <app-submissions [task]="task"></app-submissions>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
