<!---
  This component is used to display a list of submissions for all users, and allows a new submission to be made.
-->

<mat-card>
        <button mat-raised-button color="primary" style="width: 100%" (click)="refresh()">Refresh Submissions</button>
        <table mat-table [dataSource]=dataSource>

          <ng-container matColumnDef="task">
            <mat-header-cell
              *matHeaderCellDef
            >
              Task
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.task }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dataset">
            <mat-header-cell
              *matHeaderCellDef
            >
              Dataset
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.dataset }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="model">
            <mat-header-cell
              *matHeaderCellDef
            >
              Model
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.model }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell
              *matHeaderCellDef
            >
              Link
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.link }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="predictions">
            <mat-header-cell
              *matHeaderCellDef
            >
              Predictions
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ "entry.predictions" }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell
              *matHeaderCellDef
            >
              Status
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.status }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="time">
            <mat-header-cell
              *matHeaderCellDef
            >
              Time
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">{{ entry.time }}</mat-cell>
          </ng-container>


          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
</mat-card>
