<!----
  This component is for submitting a model for evaluation.
  It is a form that takes in the model name, the model file, and the model's description.
---->
<mat-card>

  <mat-card-content>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Model Name</mat-label>
      <input [(ngModel)]="modelName" matInput placeholder="Model Name" type="text">
    </mat-form-field>
  </mat-card-content>


  <mat-card-content>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Model Link</mat-label>
      <input [(ngModel)]="modelLink" matInput placeholder="Model Link" type="text">
    </mat-form-field>
  </mat-card-content>

  <mat-form-field>
    <mat-label>Task</mat-label>
    <mat-select [(ngModel)]="task">
      @for (task of tasks; track task) {
        <mat-option [value]="task">{{task}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-card-content>
    <button type="button" style="width: 100%" mat-raised-button (click)="predsFileInput.click()">Upload Model
      Predictions
    </button>
    <input hidden type="file" #predsFileInput (change)="onFileSelected($event)"/>
    <mat-label *ngIf="fileName != ''">{{ fileName }}</mat-label>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button style="width: 100%" color="primary" (click)="submit()">Submit</button>
  </mat-card-actions>

</mat-card>
