/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
}
