<mat-card>

  <mat-card-content *ngIf="whatAbout === 'general'">
    <p>
      This System was built in the process of the research conducted by the Author Ahmad Shallouf for his Master Thesis at the University of Hamburg.
      <br>
      The purpose of this system is to provide a Benchmark for the 4 main tasks of Comparative Question Answering in the English Language.
      <br>
      The system is built using the Angular Framework for the Frontend and FastAPI Framework for the Backend with a PostgreSQL Database.
    </p>
  </mat-card-content>

  <mat-card-content *ngIf="whatAbout === 'QI'">

  </mat-card-content>


  <mat-card-content *ngIf="whatAbout === 'OAI'">

  </mat-card-content>


  <mat-card-content *ngIf="whatAbout === 'SC'">

  </mat-card-content>


  <mat-card-content *ngIf="whatAbout === 'SG'">

  </mat-card-content>

</mat-card>
